<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bazzar Bear</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115169227-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115169227-9');
</script>

  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
      <style>
      .facebook-button {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      /* On mouse-over, add a deeper shadow */
      .facebook-button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      </style>
      <div style="display:flex; justify-content: center; margin-top: 80px; flex-direction: column;">
      <h6 style="margin:0; color: #606c76 ">Have any question?</h6>
      <a href = "http://m.me/BazzarBearMY" class="button facebook-button" style="background-color:#4267b2;">Contact us on Facebook</a>
      </div>
    </main>
  </body>
</html>
