<div style="margin-top:30vh; color: #606c76;">
  <h1 style="margin-left:5px;">Coming Soon!</h1>

  <h1 style="line-height: .9; color: #f44336; font-weight:bold;  margin: 0; font-size:8rem;">
    Bazzar
  </h1>
   <h1 style="line-height: .9; color: #795548; font-weight:bold;  margin: 0; font-size:8rem;">
   Bear
  </h1>
  <h5 style="margin-left:5px;">Search home-made food in Cyberjaya</h5>
</div>